---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Programming",
    description:
    "I love programming. I have a goal. Of becoming the greatest programmer.  ",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Technology",
    description:
      "",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "ViM",
    description:
    "We can all use a little more vim in our lives. In our text editors, in our bathrooms, in our web browsers. I will mention vim a lot.",
    icon: "bx:bxs-data",
  },
  {
    title: "Humanity",
    description:
    "We can use technology in a way that helps humanity, or we can allow our love of profit to obscure what brings us joy. I will probably talk about this.",
    icon: "bx:bxs-bot",
  },
  {
    title: "God",
    description:
      "",
    icon: "bx:bxs-file-find",
  },
  {
    title: "My Life",
    description:
    "Like general things about my life. Tracking my thoughts and reflections on somewhere that's not my story",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a website
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
