<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    CC-0 © {new Date().getFullYear()} 
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Github <a
      href="https://github.com/b3nnythemartian"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      @b3nnythemartian
    </a>
  </p>

  <p class="text-center text-xs text-slate-500 mt-1">
    Twitter <a
      href="https://twitter.com/b3nnythemartian"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      @b3nnythemartian
    </a>
  </p>


</footer>
